.heading-primary {
    font-size: 36px;
}

.heading-secondary {
    font-size: 20px;
    line-height: 32px;
}

.content-primary {
    font-size: 18px;
}

.content-secondary {
    font-size: 16px;
}

.content-tertiary {
    font-size: 14px;
}